  <div class="row m-4">
    <div class="col-sm-1 col-md-4 col-xl-3 py-1" style="width:18rem;" *ngFor="let i of datosComercio">
      <img class="card-img-top" *ngIf="i.imagenes" src="{{i.imagenes}}" alt="imagen comercios">
      <div class="card border-primary">
        <div class="card-body text-primary">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
