<title>Domselaar Comercios</title>
<div class="bg-dark text-secondary text-center px-4" id="featured-3">
  <h2 class="display-5 fw-bold text-white">Comercios</h2>
  <div class="row g-col-4 py-5 row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <div class="feature col text-white" *ngFor="let item of comerciosOrdenados">
      <p-accordion>
        <p-accordionTab
        [(selected)]="activeState[item.nombreComercio]"
        header="{{ item.nombreComercio }}">

                <p-card
                *ngFor="let i of item.datosComercio"
                  header="{{ i.nameComer }}"
                  subheader="{{i.parrafo}}"
                >
                  <ng-template pTemplate="header">
                    <img alt="imagenes comercios"
                    *ngIf="i.imagenes"
                    src="{{ i.imagenes }}" />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <p>Dirección: {{i.direComercio}}</p>
                    <p>Teléfono: {{i.tel}}</p>
                    <a *ngIf="i.direComercioGoogle" href="{{i.direComercioGoogle}}" target="_blank">
                    <p-button label="{{i.direComercio}}" icon="pi pi-map-marker"></p-button>
                  </a>
                    <a href="{{i.telComer}}" target="_blank">
                    <p-button
                    *ngIf="i.telComer"
                      label="Contactar"
                      icon="pi pi-whatsapp"
                      styleClass="p-button-secondary"
                      [style]="{ 'margin-left': '.5em' }"
                    ></p-button>
                  </a>
                  </ng-template>
                </p-card>
          <p-button [icon]="activeState[item.nombreComercio] ? 'pi pi-times' : 'pi pi-plus'" (click)="toggle(item.nombreComercio)" styleClass="p-button-text" label="Cerrar {{item.nombreComercio}}"></p-button>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
