<title>Domselaar Comercios</title>
<div class="bg-dark text-secondary text-center px-4" id="featured-3">
  <h2 class="display-5 fw-bold text-white">Comercios</h2>
  <div class="row g-col-4 py-5 row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <div class="feature col text-white" *ngFor="let item of comerciosOrdenados">

      <h2>{{item.nombreComercio}}</h2>
      <div class="dropdown">
        <button class="btn btn-outline-info btn-lg px-4 fw-bold dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Ver todos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let i of item.datosComercio" class="dropdown-item" width="380px;">
            <img class="rounded-circle" height="150px" width="150px" *ngIf="i.imagenes" src="{{i.imagenes}}" alt="imagen mecánico domselaar">
            <h4 class="text-dark">
              {{i.nameComer}}
            </h4>
            <p class="fs-6">{{i.parrafo}}</p>
            <p class="text-dark fs-6 p-0 m-0" *ngIf="i.tel">{{i.tel}}</p>
              <a *ngIf="i.telComer" class="btn-outline-info btn-lg p-0 m-0" href="{{i.telComer}}"><i class="pi pi-whatsapp"  target="_blank" style="font-size: 1.2rem"></i> Teléfono</a>
               <br/>
            <a class="btn-outline-info p-0 m-0" href="{{i.direComercioGoogle}}" target="_blank" style="font-size: 1.6rem">
              <p class="fs-6" *ngIf="i.direComercio" style="font-size: 1.4rem"><i class="pi pi-map-marker" style="font-size: 1.4rem"></i>{{i.direComercio}}</p>
            </a>
            <p class="fs-6" *ngIf="i.text" style="font-size: 1.4rem">{{i.text}}</p>
            <hr/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

