<div class="px-4 py-5 bg-dark text-secondary text-center px-4 py-5" id="featured-3">
  <h2 class="display-5 fw-bold text-white">Comercios</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-sm-2 row-cols-lg-3">
    <div class="feature col text-white" *ngFor="let item of comerciosOrdenados">

      <h2>{{item.nombreComercio}}</h2>
      <div class="dropdown" >
        <button class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Ver todos
        </button>
        <ul class="dropdown-menu bg-dark text-white" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let i of item.datosComercio" class="dropdown-item bg-dark te">
            <h3 class="bg-dark text-white">
              {{i.nameComer}}
            </h3>
            <h4 class="bg-dark text-white" *ngIf="i.tel">{{i.tel}}</h4>
            <a *ngIf="i.telComer" class="btn-outline-info btn-lg" href="{{i.telComer}}"><i class="pi pi-whatsapp"  target="_blank" style="font-size: 1.7rem"></i> Teléfono</a>

            <a *ngIf="i.direComercioGoogle" class="btn-outline-info btn-lg" href="{{i.direComercioGoogle}}" target="_blank" icon="pi pi-map-marker" style="font-size: 1.7rem">
              <i *ngIf="i.direComercio" class="pi pi-map-marker" style="font-size: 1.4rem">{{i.direComercio}}</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

