<div class="bg-dark text-primary">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><span class="material-icons md-36">home</span> INICIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/comercios"><span class="material-icons">storefront</span> COMERCIOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/servicios">
              <span class="material-icons">handyman</span>
              SERVICIOS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/infoutil">
              <span class="material-icons">phone</span>
              INFO ÚTIL (LOCAL)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="bg-dark text-center text-white-50 px-4 py-5 my-5 mb-0">
    <p>Hecho para la gente de <a href="https://goo.gl/maps/so7n8zbePAvADcq69" class="text-white">Domselaar</a></p>
  </footer>
</div>

