<title>Domselaar Servicios</title>
<div class="px-4 py-5" id="hanging-icons">
  <h2 class="pb-2 border-bottom fw-bold text-white">Servicios</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-sm-2  row-cols-lg-3">

    <div class="col d-flex align-items-start text-white" *ngFor="let n of valoresOrdenados">
      <p-accordion>
        <p-accordionTab
        [(selected)]="activeState[n.nombre]"
        header="{{ n.nombre }}">

                <p-card
                *ngFor="let i of n.datos"
                  header="{{ i.name }}"
                  subheader="{{i.recomendacion}}"
                >
                  <ng-template pTemplate="header">
                    <img
                    style="max-width:10rem; max-height: 10rem;"
                    class="mx-5 rounded-circle img-fluid"
                    alt="imagenes servicios"
                    *ngIf="i.img"
                    src="{{ i.img }}" />
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <p *ngIf="i.parrafo">{{i.parrafo}}</p>
                    <p *ngIf="i.dire">Dirección: {{i.dire}}</p>
                    <p *ngIf="i.numero">Teléfono: {{i.numero}}</p>
                    <a *ngIf="i.direServicioEnGoogle" href="{{i.direServicioEnGoogle}}" target="_blank">
                    <p-button label="{{i.dire}}" icon="pi pi-map-marker"></p-button>
                  </a>
                    <a href="{{i.tel}}" target="_blank">
                    <p-button
                    *ngIf="i.numero"
                      label="Contactar"
                      icon="pi pi-whatsapp"
                      styleClass="p-button-secondary"
                      [style]="{ 'margin-left': '.5em' }"
                    ></p-button>
                  </a>
                  </ng-template>
                </p-card>
          <p-button [icon]="activeState[n.nombre] ? 'pi pi-times' : 'pi pi-plus'" (click)="toggle(n.nombre)" styleClass="p-button-text" label="Cerrar {{n.nombre}}"></p-button>
        </p-accordionTab>
      </p-accordion>

    </div>
  </div>
</div>

