<div class="bg-dark text-secondary text-center">

  <h1 class="fw-bold text-white mt-3">Domselaar. Comercios y Servicios</h1>

    <div class="py-5 m-5 justify-content-center">
      <a class="btn btn-outline-info btn-lg px-4 m-3 fw-bold" routerLink="/servicios">Servicios</a>
      <a class="btn btn-outline-light btn-lg px-4 m-3 fw-bold" routerLink="/comercios">Comercios</a>
      <a class="btn btn-outline-light btn-lg px-4 m-3 fw-bold" routerLink="/infoutil">Información útil local</a>
    </div>

</div>




