<div class="bg-dark text-secondary text-center">

  <h1 class="fw-bold text-white mt-3">Domselaar. Comercios y Servicios</h1>

    <div class="py-5 m-5 justify-content-center">
      <a class="btn btn-outline-info btn-lg px-4 m-3 fw-bold" routerLink="/servicios">Servicios</a>
      <a class="btn btn-outline-light btn-lg px-4 m-3 fw-bold" routerLink="/comercios">Comercios</a>
      <a class="btn btn-outline-light btn-lg px-4 m-3 fw-bold" routerLink="/infoutil">Información útil local</a>
    </div>
    <h3 style="background: #212529;"><i><b>Domselaar un lugar para todos</b></i></h3>
    <hr>
   <p  class="fw-bolder text-white fs-3">Para publicar en la página comunicarse al<a href="https://wa.me/5491166111507" class="px-4 m-3 fw-bold text-secondary"><i class="pi
    pi-whatsapp"style="font-size: 1.7rem" ></i> 11 66 111 507 </a></p>

</div>
<div style="background: #212529;"><a></a></div>
