<div class="bg-dark text-secondary px-4 py-5 text-center">

  <h1 class="display-5 fw-bold text-white">Domselaar. Comercios y Servicios</h1>
  <div class="col-lg-6 mx-auto">
    <div class="d-grid d-sm-flex justify-content-sm-center">
      <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold" routerLink="/servicios">Servicios</a>
      <a class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold" routerLink="/comercios">Comercios</a>
      <a class="btn btn-outline-light btn-lg px-4 me-sm-3 fw-bold" routerLink="/infoutil">Información útil local</a>
    </div>
  </div>

</div>




